* {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* body */
body { 
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.items{
    padding: 0 10px;
    text-decoration: none;
    color: #363535;
}

.items:hover {
    text-decoration: underline;

}


span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}  



.icons {
    padding: 0 10px;
    height: 40px;
    width: 20px;
     
}

.icons:hover {
     background-color: #e0dbdb;
     border-radius: 50%;
}




.userid {
    color: seashell;
    background-color: rgb(43, 145, 241);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
}


.userid:hover {
    border: 4px solid #e7e2e2;
}




/* Main Google Page */


main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}


img {
    height: 100px;

}
/* input */


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 40px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 2px 10px #eeeded;
}

.fa-magnifying-glass {
    color:#c2bfbf;
    padding: 17px;
}

.input {
    flex-grow: 1;
    outline: none;
    border: none;
    text-align: left;
    padding: 17px;
}

.fa-microphone,
.fa-camera {
    padding: 17PX;
    color: #363535;


}


button {
    padding: 10px 20px;
    border: none;
    background-color: #f8f9fa;
    color: #6b6969;
    margin: 0 4px;
    border-radius: 5px;

}


.search-bar:hover {
    box-shadow: 0 2px 10px #c0b7b7;
}

button:hover {
    border: 1px solid #a39d9d;
}


/* language */

#language {
    display: flex;
    font-size: small;
}


#language a {
    text-decoration: none;
    color: #1A0DAB;
}

#language a:hover {
    text-decoration: underline;
    color: #1A0DAB;
}


footer {
    height: 100px;
    width: 100%;
    background-color: #c5c7c9;
    position: absolute;
    bottom: 0;
}

address {
    text-align: left;
    font-style: normal;
    padding: 15px 30px;
    color: #1f1f1f;
    border-bottom: 1px solid #c0b7b7;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #1f1f1f;
    padding: 20px;
}

.list-1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}